:root {
  --color-text: #0a0b18;
  --color-background: #f6f6fc;
  --color-primary: #4950c3;
  --color-secondary: #8b8fdd;
  --color-accent: #d84b4b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.text-1 {
  color: var(--color-text)
}

.text-2 {
  color: var(--color-background)
}

.text-3 {
  color: var(--color-accent)
}

.bg-1 {
  background-color: var(--color-background);
}

.bg-2 {
  background-color: var(--color-primary);
}

.bg-3 {
  background-color: var(--color-secondary);
}

.bg-4 {
  background-color: var(--color-accent);
}

.btn {
  color: var(--color-text);
}

.btn-selected {
  background-color: var(--color-primary);
  border-radius: 0px 0px 1rem 1rem;
  color: var(--color-background);
}